.weather-app {
  font-weight: bold;
}

.time,
.date,
.weather-forecast {
  font-size: large;
}

.weather-forecast {
  padding-left: 0.5rem;
  padding-top: 0.2rem; 
  text-transform: capitalize;
}

.icon-weather-forecast,
.forecast-weather-hour {
  width: calc(3em + 1vw + 1vh);
  height: calc(3em + 1vw + 1vh);
}

.temp {
margin: 0;
font-size: calc(4em + 1vw);
}

.flexr {
display: flex;
flex-direction: row;
}

.flexc {
display: flex;
flex-direction: column;
}

.centered {
justify-content: center;
align-items: center;
}