.weather-app {
  user-select: none;
}

.hourly-forecast,
.daily-forecast {
  padding: 1em 3em 1em 3em;
  margin: 1em 1em 1em 1em;
  background-color: rgba(110, 110, 110, 0.2) !important;
  box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  width: 100%;
  z-index: 3;
  user-select: none;
}

.fiveh-forecast,
.fived-forecast {
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

.daily-forecast-title,
.hourly-forecast-title {
  margin: -0.2em 0em 0em -1em;
  font-size: 1.5em;
  color: white;
  left: 0;
}

.hourly-forecast-title {
  font-size: calc(0.5em + 1vw + 1vh);
}

.now,
.plus1h,
.plus2h,
.plus3h,
.plus4h,
.today,
.plus1d,
.plus2d,
.plus3d,
.plus4d {
  padding: 1em 0em 1em 0em;
}

.now {
  justify-content: space-between;
}

.hourly-forecast button,
.daily-forecast button {
  position: relative;
  width: calc(8em + 1vh);
  /* font-size: calc(0.8em + 1vw); */
  background-color: transparent;
  border-radius: 25px;
  padding: 0px 5px 0px 5px;
  border: 1px solid #87889c;
  margin-left: -2em;
  background-color: #87889c;
}

.next-seven-days,
.next-tf-hours {
  margin: 0px 0px 0px 0px;
  padding: 5px 0px 5px 0px;
  color: white;
}

.forecast-hour,
.forecast-daily,
.forecast-day {
  padding-bottom: 0.5em;
  font-size: calc(0.5em + 0.5vw + 0.5vh)
}

.forecast-temperature-hour,
.forecast-temperature-day,
.forecast-humidity-hour,
.forecast-humidity-day,
.temp-day-night,
.backslash {
  margin: 0;
  padding: 0;
}

.icon-humidity {
  position: relative;
  width: calc(1em + 1vh);
  height: calc(1em + 1vh);
}

.forecast-weather-day,
.forecast-weather-hour {
  margin-bottom: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: calc(3em + 1vw + 1vh);
  height: calc(3em + 1vw + 1vh);
}

.forecast-temperature-day,
.forecast-temperature-hour,
.backslash {
  font-size: calc(1em + 1vh + 1vw);
}

.forecast-temperature-night {
  bottom: 0;
  right: 0;
}


.flexr {
display: flex;
flex-direction: row;
}

.flexc {
display: flex;
flex-direction: column;
}

.centered {
justify-content: center;
align-items: center;
}