.container {
    max-width: 1080px;
    margin: 0px auto;
}

.opaque {
    background-color: rgba(110, 110, 110, 0.2) !important;
    box-shadow: 0px 10px 32px 0px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    /* border: 1px solid rgba(255, 255, 255, 0.1); */ 
}



/* .body {
    zoom: 1;
    margin: 0;
    font-family: Bariol, Helvetica, Arial, sans-serif;
    background-color: white;
    color: #fff;
    position: relative;
    transition: 500ms;
    opacity: 1;
    z-index: 3;
    user-select: none;
} */
